{% extends "commander/valider.html.twig" %}
{% block titrecompte %}
    Paiement
{% endblock titrecompte %}
{% block body %}
    <div class="home">
        <div class="home_container d-flex flex-column align-items-center justify-content-end">
            <div class="home_content text-center">
                <div class="home_title">Paiement</div>
                <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                    <ul class="d-flex flex-row align-items-start justify-content-start text-center">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="{{ path('paypal_valider') }}">Paiement de la commande</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 100px;">
    <div class="row justify-content-center col-11">
        <div id="paypal-button-container"></div>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <script>
            // Render the PayPal button
            paypal.Button.render({
// Set your environment
                env: 'sandbox', // sandbox | production

// Specify the style of the button
                style: {
                    layout: 'vertical',  // horizontal | vertical
                    size:   'large',    // medium | large | responsive
                    shape:  'pill',      // pill | rect
                    color:  'gold'       // gold | blue | silver | white | black
                },

// Specify allowed and disallowed funding sources
//
// Options:
// - paypal.FUNDING.CARD
// - paypal.FUNDING.CREDIT
// - paypal.FUNDING.ELV
                funding: {
                    allowed: [
                        paypal.FUNDING.CARD,
                        paypal.FUNDING.CREDIT
                    ],
                    disallowed: []
                },

// Enable Pay Now checkout flow (optional)
                commit: true,

// PayPal Client IDs - replace with your own
// Create a PayPal app: https://developer.paypal.com/developer/applications/create
                client: {
                    sandbox: 'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
                    production: '<insert production client id>'
                },

                payment: function (data, actions) {
                    return actions.payment.create({
                        payment: {
                            transactions: [
                                {
                                    amount: {
                                        total: '0.01',
                                        currency: 'USD'
                                    }
                                }
                            ]
                        }
                    });
                },

                onAuthorize: function (data, actions) {
                    return actions.payment.execute()
                        .then(function () {
                            window.alert('Paiement Effectué!');
                        });
                }
            }, '#paypal-button-container');
        </script>
    </div>
    </div>
{% endblock body %}