{% extends 'base.html.twig' %}
{% block title %}Sell - {{ controller_name }}{% endblock %}
{% block body %}

<div class="super_container">

	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Home -->

		<div class="home">
			<div class="home_container d-flex flex-column align-items-center justify-content-end">
				<div class="home_content text-center">
					<div class="home_title">Mes commandes</div>
				</div>
			</div>
		</div>

		<div class="cart_section">
			<div class="container">
				
				<div>
					<table class="table-client">
						<tbody>
							<tr >
								<th>Numéro de commande</th>
								<th>Date de commande</th>
								<th>Statut</th>
								<th>Détails</th>
							</tr>
							{% for cmd in commande %}
							<tr>
								<td>{{ cmd.reference }}</td>
								<td>{{ cmd.date }}</td>
								<td>
									<div>{{ cmd.status }}</div>
								</td>
								<td><a href=""><i class="search icon"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

			</div>
		</div>

	</div>	
</div>

{% endblock %}
